<header class="bg-blue-600 text-white p-4 relative">
  <%= image_tag 'morro_solar.webp', class: 'w-full h-48 object-cover absolute top-0 left-0 opacity-50', alt: 'Morro Solar' %>
  <div class="relative z-10">
    <h1 class="text-3xl font-bold">MORRO SOLAR</h1>
    <p class="text-xl">Descubre la riqueza histórica y cultural de este sitio emblemático en Lima, Perú</p>
  </div>
</header>