<div class="flex-col">
  <div class="w-screen overflow-hidden">
    <%= image_tag 'morro_solar.webp', class: 'w-full h-auto object-cover', alt: 'Morro Solar' %>
  </div>
  <div class="container mx-auto p-4">
    <%= render 'shared/map' %>
    <div class="my-8">
      <p class="text-lg text-center">
        <%= t('home.map.description') %>
      </p>
    </div>
  </div>
</div>