<div class="container mx-auto p-4">
  <%= render 'shared/map' %>
  <div class="my-8">
    <p class="text-lg text-center">
      El Morro Solar es un lugar de gran relevancia histórica y cultural en Lima, Perú. Este sitio emblemático ha sido testigo de importantes eventos de la historia peruana, como la Batalla de Chorrillos, y alberga diversos monumentos y miradores que ofrecen vistas espectaculares del océano Pacífico. Te invitamos a descubrir su riqueza histórica, recorrer sus atracciones y aprender más sobre su importancia para el país.
    </p>
  </div>
</div>